@{
    ViewBag.Title = "Case Review Panel";
}

<div class="row">
    <h2>Welcome to Case Review Panel Application</h2>

    <h4>What you can do?</h4>
    <div>
        <p>- Create Panel Members</p>
        <p>- Create Cases</p>
        <p>- Create Case Review Panels</p>
    </div>

</div>